
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container">
    <h2 class="text-center" th:text="${title}">University Register</h2>
    <form method="post" th:object="${registerUniversitiesFormDTO}" class="needs-validation" novalidate>
        <div class="form-group">
            <input name="email" class="form-control" placeholder="Email" type="email" th:for="email" th:field="*{email}" required>
            <p class="error" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password" type="password" th:for="password" th:field="*{password}" required>
            <p class="error" th:errors="*{password}"></p>
        </div>
        <div class="form-group">
            <input name="verifyPassword" class="form-control" placeholder="Verify Password" type="password" th:for="verifyPassword" th:field="*{verifyPassword}" required>
            <p class="error" th:errors="*{verifyPassword}"></p>
        </div>
        <div class="form-group">
            <input name="UniversityName" class="form-control" placeholder="University Name" type="text" th:for="UniversityName" th:field="*{UniversityName}" required>
            <p class="error" th:errors="*{UniversityName}"></p>
        </div>
        <div class="form-group">
            <input name="address" class="form-control" placeholder="Address" type="text" th:for="address" th:field="*{address}" required>
            <p class="error" th:errors="*{address}"></p>
        </div>
        <div class="form-group">
            <input name="description" class="form-control" placeholder="Description" type="text" th:for="description" th:field="*{description}" required>
            <p class="error" th:errors="*{description}"></p>
        </div>
        <div class="form-group">
            <input name="city" class="form-control" placeholder="City" type="text" th:for="city" th:field="*{city}" required>
            <p class="error" th:errors="*{city}"></p>
        </div>
        <div class="form-group">
            <input name="zip" class="form-control" placeholder="Zip Code" type="text" th:for="zip" th:field="*{zip}" required>
            <p class="error" th:errors="*{zip}"></p>
        </div>
        <div class="form-group">
            <input name="phone" class="form-control" placeholder="Phone" type="text" th:for="phone" th:field="*{phone}" required>
            <p class="error" th:errors="*{phone}"></p>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>
