<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
<form method="post">
    <table>
        <thead>
        <tr>

            <th> Name</th>

        </tr>
        </thead>
        <tr th:each="all : ${all}" th:object="${all}">
            <td th:text="*{UniversityName}"></td>

            <th><a href="/Students/studentForm" > apply</a></th>

        </tr>


    </table>

</form>

<footer th:replace="fragments :: footer">
</footer>
</body>
</html>